version: "3.9"
services:
  node:
    image: {{ node_image }}
    logging: 
      driver: loki
      options:
        loki-url: "http://localhost:3100/loki/api/v1/push"
        loki-max-backoff: 5s
        loki-external-labels: job=node
    volumes:
    - '/home/{{ ansible_user_id }}/node/node-ml/Main.cake:/root/node/node-ml/Main.cake'
    - '/home/{{ ansible_user_id }}/node/node-ml/test-node:/root/node/node-ml/test-node'
    - '/home/{{ ansible_user_id }}/node/pipes:/root/node/node-ml/pipes'
    - '/home/{{ ansible_user_id }}/node/node.log:/root/node/node-ml/node.log'
    - '/home/{{ ansible_user_id }}/node/node-ml/genesis-generator/GenesisGenerator:/root/node/node-ml/innochain-cli/innochain-cli'
    tty: true
    network_mode: "host" 
    entrypoint: ./Main.cake --fgenesis=test-node/genesis --fkeypair=test-node/keypair0 --fnodesinfo=test-node/nodes --max-block-size=10 --apiin=pipes/apiin --apiout=pipes/apiout --broadcast=pipes/broadcast --init-delay=2.5 --base-exp=1.5 --logger-level=Debug --stdout-log --sync-commits-size=150 --sync-blocks-size=200

  api:
    image: {{ api_image }}
    logging: 
      driver: loki
      options:
        loki-url: "http://localhost:3100/loki/api/v1/push"
        loki-max-backoff: 5s
        loki-external-labels: job=api
    volumes:
    - '/home/{{ ansible_user_id }}/node/node-ml/apiin:/root/node/node-ml/apiin'
    - '/home/{{ ansible_user_id }}/node/pipes:/root/node/pipes'
    - '/home/{{ ansible_user_id }}/node/api-settings.py:/root/node/node-ml-api/api/settings.py'
    - '/home/{{ ansible_user_id }}/node/node-ml-api:/root/node/node-ml-api'
    - '/home/{{ ansible_user_id }}/node/pipe-settings.py:/root/node/node-ml-api/proxy_server/settings.py'
    tty: true
    ports:
      - "8000:8000"
    entrypoint: bash -c "python3 manage.py migrate && python3 manage.py runserver 0.0.0.0:8000"
    networks:
      - node-network

  redis:
    image: redis:5
    logging: 
      driver: loki
      options:
        loki-url: "http://localhost:3100/loki/api/v1/push"
        loki-max-backoff: 5s
        loki-external-labels: job=redis
    tty: true
    ports:
      - "6379:6379"
    networks:
      - node-network

  loki:
    image: grafana/loki:2.3.0
    ports:
      - "3100:3100"
    volumes:
      - '/home/{{ ansible_user_id }}/node/local-config.yaml:/etc/loki/local-config.yaml'
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - node-network

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    volumes:
      - '/home/{{ ansible_user_id }}/node/grafana.ini:/etc/grafana/grafana.ini'
    networks:
      - node-network

networks:
  node-network:
    name: node-network
    driver: bridge